*{
    margin: 0px;
    border: 0px;
    border-sizing: borderbox;
}
.table{
    display: flex;
}
.button{
    border-radius: 20px;
    width: 50%;
    height: 10vh;
    border: 1px solid black;

}
.button2{
border-radius: 10px;
width: 50%;
height: 10vh;
}
.button3{
    border-radius: 10px;
    width: 50%;
    height: 10vh;
    background-color: #1d9bf0;
}



@media screen and (max-width: 700px){

    *{
        margin: 0px;
        border: 0px;
        border-sizing: borderbox;
    }
    .table{
        display: block;
        font-size: 23px;
        margin-left: 10%;
    }
    .button{
        border-radius: 20px;
        width: 80%;
        height: 10vh;
        border: none;
        
    
    }
    .button2{
    border-radius: 10px;
    width: 80%;
    height: 10vh;
    
    }
    .button3{
        border-radius: 10px;
        width: 80%;
        height: 10vh;
        background-color: #1d9bf0;
        
    }
    .img{
        width: 10%;
        height: 5vh;
    }
    


}
